@{
    ViewBag.Title = "AlreadyExists";
}

<h2 class="toTranslate">Logon Already Exists!!</h2>

<h1 class="toTranslate">Sorry that logon already exists!! Please try and sign up with a different logon or if you have forgotten your password, please click 'forgotten password'</h1>