@{
    ViewBag.Title = "CustomerUpdateFailed";
}

<h2>CustomerUpdateFailed</h2>

Sorry but we couldn't update your details at this time - if you tried to change your email address, someone's probably already using it so.. please try a different one or contact us and we'd be glad to help.
