@{
    ViewBag.Title = "CustomerUpdateSuccess";
}

<h2 class="toTranslate">Customer Update Successful</h2>


<h1 class="toTranslate">Your details have been updated!! Please log in with your new credentials!</h1>