@{
    ViewBag.Title = "LoginError";
}

<h2>LoginError</h2>


<h1>Sorry, there's been a login error of some type - maybe you forgot your username or password?</h1>
<h2>@Html.ActionLink("Register", "SignUpRegistration") if you don't have an account.</h2>