
<h3>Password Reset Sent</h3>


<div class="row-fluid padded">
    <div class="span10 offset1 whiteBg" style="position: relative;">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12 lightGrey">
                    <!-- Section title -->
                    <h3 style="text-align:center">@ViewBag.Message</h3>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
