@model string

<h3>Password change successful</h3>


<div class="row-fluid padded">
    <div class="span10 offset1 whiteBg" style="position: relative;">
        <div class="row-fluid">
            <!-- Page Title -->
            <h4><i class="fa fa-fw fa-user"></i><css-decorator class="toTranslate">Your password has been changed!</css-decorator></h4>
            <h3 style="text-align:center">Please <a href="~/Account/Login">login with your new credentials! (click here)</a></h3>
            <br />
        
            </div>
        </div>
    </div>
            }
