@model string

<h3>Please enter a new password</h3>


<div class="row-fluid padded">
    <div class="span10 offset1 whiteBg" style="position: relative;">
        <div class="row-fluid">
            <!-- Page Title -->
            <h4><i class="fa fa-fw fa-user"></i><css-decorator class="toTranslate">Forgot Your Password? Please enter a new password</css-decorator></h4>
            <br />
            <!-- Begin Form -->
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "aFormToValidate", id = "forgotpasswordform" }))
            {
                @Html.ValidationSummary(true)
                <div class="row-fluid">
                    <div class="span12 lightGrey">
                        <!-- Section title -->
                        <b>Please enter a new password</b>
                        <div class="row-fluid">
                            <label for="password"><css-decorator class="toTranslate">Password</label>
                            <input type="password" name="password" id="password" class="span12 LastName makeValid" required>
                            <label for="password"><css-decorator class="toTranslate">Confirm Password</label>
                            <input type="password" name="passwordConfirm" id="passwordConfirm" class="span12 LastName makeValid" required>

                            <input type="hidden" value="@ViewBag.Token" id="passwordToken" name="passwordToken" />

                            <button type="submit">Change Password</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

