
<div class="row-fluid">
    <div class="span12">
        <h1 style="text-align:center">        Thank you for using Portugal Holiday Rentals!!</h1>
        <h3 style="text-align:center">You will recieve an email from us confirming all the rental choices your have just made.</h3>
        <h4 style="text-align:center">
            <a href="/Home/BookCarRental">Click here to book some fantastic extras to enjoy when you visit!!</a>
        </h4>
      
        <div class="span12" style=" text-align:center">
            <img src="~/Images/goodbye.jpg" height="150" />
            <br />
        </div>
    </div>
</div>




