@{
    ViewBag.Title = "DetailGatheringEventChain";
}

<h1>All done! Thank you for booking your holiday through Portugal Rental Cottages - you should recieve a confirmation email shortly!!</h1>

<a href="~/Home">Go back to the homepage</a>
