<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <clear />

    <!--
    <add name="DefaultConnection" connectionString="Data Source=wisteria.arvixe.com;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavAdmin;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="NadavHome" connectionString="server=localhost\GRIND;database=PortVillas;Integrated Security=SSPI" />
    <add name="PortugalVillasContext" connectionString="Data Source=wisteria.arvixe.com;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavAdmin;Password=Diagonal23;MultipleActiveResultSets=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="PortVillasContext" connectionString="Data Source=wisteria.arvixe.com;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavAdmin;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="UsersContextConnection" connectionString="Data Source=wisteria.arvixe.com;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavAdmin;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

    <add name="DefaultConnection" connectionString="Data Source=188.64.188.89;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="NadavHome" connectionString="server=localhost\GRIND;database=PortVillas;Integrated Security=SSPI" />
    <add name="PortugalVillasContext" connectionString="Data Source=188.64.188.89;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="PortVillasContext" connectionString="Data Source=188.64.188.89;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="UsersContextConnection" connectionString="Data Source=188.64.188.89;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--
    <add name="PortVillasContextOld" connectionString="Data Source=wisteria.arvixe.com;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavAdmin;Password=Diagonal23;MultipleActiveResultSets=True"
     providerName="System.Data.SqlClient" />
-->


    <!--<add name="DefaultConnection" connectionString="Data Source=188.64.188.89;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="NadavHome" connectionString="server=localhost\GRIND;database=PortVillas;Integrated Security=SSPI" />
    <add name="PortugalVillasContext" connectionString="Data Source=188.64.188.89;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="PortVillasContext" connectionString="Data Source=188.64.188.89;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="UsersContextConnection" connectionString="Data Source=188.64.188.89;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--
    <add name="PortVillasContextOld" connectionString="Data Source=wisteria.arvixe.com;Initial Catalog=PortVillas;Persist Security Info=True;User ID=NadavAdmin;Password=Diagonal23;MultipleActiveResultSets=True"
     providerName="System.Data.SqlClient" />
-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>