@using BootstrapVillas.Models
  


            <div id="sidebar">
            	<ul>
                	<li class="overviewIcon"><a href="#"><img src="~/Images/images/eyeblue.png"  id="Image1"><span class="mbottom">Overview</span></a></li>
                    <li class="photoIcon"><a href="#"><img src="~/Images/images/photosblue.png" id="Image2"><span class="mbottom">Photos</span></a></li>
                    <li class="calenderIcon"><a href="#"><img src="~/Images/images/calenderblue.png" id="Image3" ><span class="mbottom">Availability</span></a></li>
                    <li class="locationIcon"><a href="#"><img src="~/Images/images/locationblue.png" id="Image4"><span class="mbottom">Map</span></a></li>
                    <li class="ratesIcon"><a href="#"><img src="~/Images/images/rates2blue.png" id="Image5"><span class="mbottom">Rates</span></a></li>
                    <li class="featuresIcon"><a href="#"><img src="~/Images/images/featuresblue.png" id="Image6"><span class="mbottom">Features</span></a></li>
                    <li class="reviewIcon"><a href="#"><img src="~/Images/images/reviewblue.png" id="Image7" ><span class="mbottom">Reviews</span></a></li>
                    <li class="backtop"><a href="#"><img src="~/Images/images/top.png" id="Image8"><span class="mbottom">Top</span></a></li>
                </ul>           
            </div>    