@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Dynamic;
@using System.Web;
@using System.Web.Mvc;
@using BootstrapVillas.Models;
@using System.Data.Entity;
@using BootstrapVillas.Content.Classes;
@using Aspose.Words;
@using Aspose.Email;
@using System.Data;
@using System.Data.SqlClient;
@using System.Data.Sql;
@using BootstrapVillas.Data.DataConnections;
@using BootstrapVillas.Data.DataAdapters;
@using BootstrapVillas.Data.QueriesSQL;
@using BootstrapVillas.Data.SQLCommands;
@using BootstrapVillas.Data.DataSets;
@using BootstrapVillas;


    <div id="innerContainer">


        @*For the carousel - add width to the session*@

  @*   <input id="ScreenPixelsWidth" name="ScreenPixelsWidth" />*@

    @*
	    <script type="text/javascript">
	        document.cookie = "ScreenPixelsWidth=" + screen.width;
	    </script>
    *@
  

  
</div>  <!-- End inner-container-->