@{
    ViewBag.Title = "TestAutoComplete";
    Layout = null;

}

@*jquery library*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

@*jQuery UI - Date Picker*@
<script src="~/Scripts/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>



<h2>TestAutoComplete</h2>
<script src="https://www.economycarhire.com/ads/serve_ad.php?adm=303&adt=57" type="text/javascript"></script>
<script src="https://www.economycarhire.com/ads/serve_ad.php?adm=303&adt=48" type="text/javascript"></script>
<script src="https://www.economycarhire.com/ads/serve_ad.php?adm=303&adt=58" type="text/javascript"></script>
<script src="https://www.economycarhire.com/ads/serve_ad.php?adm=303&adt=49" type="text/javascript"></script>


<div id="echWidget"></div>

<script src="https://www.economycarhire.com/ads/widget.php?adt=38&adm=303&bdr=ff730b&bck=ff730b&clr=ffffff&cid=4" type="text/javascript">



</script>