@{
    ViewBag.Title = "TestPOSTCustomer";
    Layout = null;
}

<h2>TestPOSTCustomer</h2>

<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>

    <form>

        <input name="fname" type="text" />
        <input name="lname" type="text" />
        <input name="email" type="text" />
        <br />
        DOB DAY
        <input name="day" type="text" />
        <input name="month" type="text" />
        <input name="year" type="text" />
        <br />
        <input name="card1" type="text" />
        <input name="card2" type="text" />


        <input type="submit" />

    </form>

</body>

</html>


<script type="text/javascript">


    $("form").on("submit", function (event) {

        //alert("Submitting");

        var valid = true;
        var establishment = "/enterprise/Establishment/1/";

        var form = $("form");
        var inputs = form.find("input[type=text]");

        var day = inputs[3].value;
        var month = inputs[4].value;
        var year = inputs[5].value;

        var cardNumber = inputs[6].value.value;

        var email = document.getElementsByName('email')[0].value;
        var fname = document.getElementsByName('fname')[0].value;
        var lname = document.getElementsByName('lname')[0].value;

        /*var dob = new Date(year, month, day, 00, 00, 00, 000000);
        var dobFormatted = dob.format("yyyy-MM-ddThh:mm:ss");

        alert(dobFormatted);*/

        var customer = {
            "active": true,
            "address": "221 Baker Street",
            "addresses": [],
            "birth_date": null,
            "cc_exp": null,
            "cc_first_name": null,
            "cc_last_4_digits": null,
            "cc_last_name": null,
            "cc_number": "",
            "city": "London",
            "created_by":
            "/enterprise/User/14/",
            "created_date": "2014-03-27T06:17:43.916409",
            "customer_groups": [],
            "email": email,
            "exp_date": null,
            "first_name": fname,
            "is_visitor": false,
            "last_name": lname,
            "lic_number": cardNumber,
            "notes": "",
            "phone_number": "1234567890",
            "picture": "",
            "ref_number": cardNumber,
            "state": null,
            "total_purchases": 0,
            "total_visits": 0,
            "updated_by": "/enterprise/User/14/",
            "updated_date":
            "2014-03-27T06:17:43.916409",
            "uuid": "",
            "zipcode": null
        }

        var rewardsCard = {
            "address": null,
            "created_by": "/enterprise/User/5/",
            "created_date": "2015-01-16T11:15:22.322096",
            "current_points": 0,
            "customer": null,
            "establishment": establishment,
            "number": cardNumber,
            "payment_type": 4,
            "total_points": 0,
            "total_purchases": 0,
            "total_visits": 0,
            "updated_by": "/enterprise/User/19/",
            "updated_date": "2015-01-16T11:15:22.322096"
        }



        var customerJSON = JSON.stringify(customer);
        var rewardsCardJSON = JSON.stringify(rewardsCard);


        alert(customerJSON);


        $(inputs).each(function (index) {
            if ($(this).val() == "") {
                valid = false;
                alert($(this));
            }
        });


        if (valid) {
            $.ajax({
                url: 'https://shoreditchgrind.revelup.com/resources/Customer/',
                data: customerJSON,
                type: "POST",
                dataType: 'jsonp',
                beforeSend: function (request) {
                    request.setRequestHeader("API-AUTHENTICATION", "408d6c05f2864ece90c037333d64f333:9ae943831e7f443b9edf3a6203e66598290fc7d2f3244ca9b69dd67404aa39f2");
                    request.setRequestHeader("Content-Type", "application/json");
                },
                success: function (data, status, jqXHR) {
                    alert(console.log(jqXHR.getResponseHeader('Location')));
                    console.log(jqXHR.responseText);
                    console.log("Customer Submitted");
                    //rewards card
                    $.ajax({
                        url: 'https://shoreditchgrind.revelup.com/resources/RewardsCardNew/',
                        data: rewardsCardJSON,
                        type: "POST",
                        dataType: 'jsonp',
                        beforeSend: function (request) {
                            request.setRequestHeader("API-AUTHENTICATION", "408d6c05f2864ece90c037333d64f333:9ae943831e7f443b9edf3a6203e66598290fc7d2f3244ca9b69dd67404aa39f2");
                            request.setRequestHeader("Content-Type", "application/json");
                        },
                        success: function (data, status, jqXHR) {

                            alert('Thank you for signing up!');
                            console.log("RewardsCards Submitted");
                        }
                    });

                },

                error: function (jqXHR, status) {
                    // error handler

                    alert('Error');

                    console.log(jqXHR.responseText);
                    console.log(jqXHR.code);
                    console.log(jqXHR.statusCode);
                    console.log(jqXHR.statusMessage);

                    alert(jqXHR.responseText);
                }


            });

            //end valid
        };



        return false;

    });







</script>