@using BootstrapVillas.HTMLHelper
@using System.Web.Mvc;
@using System.Web.Mvc.Html;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
