@using BootstrapVillas.HTMLHelper

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @Html.BootstrapButton("Set name")
    </div>
</body>
</html>
